:root {
    --color-zero:#ffffff;
    --color-dark:#000000;

    --color-first:#F6F6F6;
    --color-second:#1D267D;
    --color-third:#5C469C;  
    --color-fourth:#D4ADFC;
    --color-fifth:#29EBAA;
    --color-sixth:rgb(240, 47, 47);
    --color-seventh:rgba(255, 255, 255, 0.938);

    --colors-test:#29EBAA;
    --color-third-hover:#68559f;
  
}